services:
  db:
    image: mysql:8.0
    restart: always
    env_file:
      - ./backend/.env      
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - db
    env_file:
      - ./backend/.env    

  frontend:
    build: ./frontend
    container_name: simple-news-frontend
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env      
    depends_on:
      - backend

volumes:
  db_data:
